body {
  margin: 0;
}

.container {
  background-image: linear-gradient(#fff, #fefefe);
  -webkit-transition: all 3s linear;
  -moz-transition: all 3s linear;
  -o-transition: all 3s linear;
  transition: all 3s linear;
}

.day {
  background-image: linear-gradient(to top, #a1cae0, #478bbe, #1d68aa);
  height: 100vh;
}

.dawn {
  background-image: linear-gradient(
    0deg,
    #f2b080 0%,
    #bd4f77 50%,
    #46466c 100%
  );
  height: 100vh;
}

.dusk {
  background-image: linear-gradient(
    0deg,
    #46466c 0%,
    #bd4f77 50%,
    #f2b080 100%,
  );
  height: 100vh;
}

.night {
  -webkit-transition: all 3s linear;
  -moz-transition: all 3s linear;
  -o-transition: all 3s linear;
  transition: all 3s linear;

  @function polarity() {
    $value: random(2);

    @if $value == 1 {
      @return "-";
    }
    @return "";
  }

  @function star-position($n) {
    $value: "center center";
    @for $i from 2 through $n {
      $value: "#{$value}, #{polarity()}#{random(800)}px #{polarity()}#{random(800)}px";
    }

    @return unquote($value);
  }

  @function star($n) {
    $value: "radial-gradient(white,rgba(255, 255, 255, 0.3) 2px,transparent 1px)";
    @for $i from 2 through $n {
      $value: "#{$value}, radial-gradient(white,rgba(255, 255, 255, 0.#{random(4)}) #{random(4)}px,transparent #{random(15)}px)";
    }

    $value: "#{$value}, linear-gradient(to top, #283e51, #00001c)";

    @return unquote($value);
  }

  height: 100vh;
  background-image: star(10);
  background-position: star-position(10);
  background-size: 800px 100%;
  background-repeat: repeat-x;
}
