$day: linear-gradient(to top, #a1cae0, #478bbe, #1d68aa);
$dusk: linear-gradient( 0deg, #46466c 0%, #bd4f77 50%, #f2b080 100%);
$dawn: linear-gradient( 0deg, #f2b080 0%, #bd4f77 50%, #46466c 100%);
$night: linear-gradient(to top, #283e51, #00001c);

@mixin transition {
  -webkit-transition: opacity 8s linear;
  -moz-transition: opacity 8s linear;
  -o-transition: opacity 8s linear;
  transition: opacity 8s linear;
}

@mixin dimension {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
}

.container {
  position: relative;
}

.day {
  background-image: $day;
  @include dimension();
  @include transition();
}

.dawn {
  background-image: $dawn;
  @include dimension();
  @include transition();
}

.dusk {
  background-image: $dusk;
  @include dimension();
  @include transition();
}

.night {
  @include dimension();
  background-size: 800px 100%;
  background-repeat: repeat-x;

  -webkit-transition: all 8s linear;
  -moz-transition: all 8s linear;
  -o-transition: all 8s linear;
  transition: all 8s linear;

  @function polarity() {
    $value: random(2);

    @if $value == 1 {
      @return "-";
    }
    @return "";
  }

  @function star-position($n) {
    $value: "center center";
    @for $i from 2 through $n {
      $value: "#{$value}, #{polarity()}#{random(800)}px #{polarity()}#{random(800)}px";
    }

    @return unquote($value);
  }

  @function star($n) {
    $value: "radial-gradient(white,rgba(255, 255, 255, 0.3) 2px,transparent 1px)";
    @for $i from 2 through $n {
      $value: "#{$value}, radial-gradient(white,rgba(255, 255, 255, 0.#{random(4)}) #{random(4)}px,transparent #{random(15)}px)";
    }

    $value: "#{$value}, #{$night}";

    @return unquote($value);
  }

  background-image: star(30);
  background-position: star-position(30);
  
}
