.cloud {
  width: 500px;
  height: 275px;
  border-radius: 50%;
  position: absolute;
  top: -25vh;
  left: -25vw;
}

.day {
  .cloudBack {
    filter: url(#filter-back);
    box-shadow: 300px 300px 30px -20px #fff;
  }

  .cloudMid {
    filter: url(#filter-mid);
    box-shadow: 300px 340px 70px -60px #9ea8b3;
    opacity: 0.5;
  }

  .cloudFront {
    filter: url(#filter-front);
    box-shadow: 300px 370px 60px -100px #000000;
    opacity: 0.3;
  }
}

.twilight {
  .cloudBack {
    filter: url(#filter-back);
    box-shadow: 300px 300px 30px -20px #1a1236;
    opacity: 0.5;
  }

  .cloudMid {
    filter: url(#filter-mid);
    box-shadow: 300px 340px 70px -60px #9f4f37;
    opacity: 0.5;
  }

  .cloudFront {
    filter: url(#filter-front);
    box-shadow: 300px 370px 60px -100px #fed6a6;
    opacity: 0.8;
  }
}

.night {
  .cloudBack {
    filter: url(#filter-back);
    box-shadow: 300px 300px 30px -20px #adf4f8;
    opacity: 0.9;
  }

  .cloudMid {
    filter: url(#filter-mid);
    box-shadow: 300px 340px 70px -60px #16465c;
    opacity: 0.8;
  }

  .cloudFront {
    filter: url(#filter-front);
    box-shadow: 300px 370px 60px -100px #000000;
    opacity: 0.8;
  }
}
