@keyframes move {
  0% {left: calc(0% - 300px);}
  100% {left: calc(100vw - 790px);}
}

.cloud {
  width: 500px;
  height: 275px;
  border-radius: 50%;
  position: absolute;
  top: 5vh;
  left: calc(0% - 300px);
  animation: move 20s infinite;
  animation-direction: alternate;
}

.day {
  .cloudBack {
    filter: url(#filter-back);
    box-shadow: 300px 300px 30px -20px #fff;
  }

  .cloudMid {
    filter: url(#filter-mid);
    box-shadow: 300px 340px 70px -60px #9ea8b3;
    opacity: 0.5;
  }

  .cloudFront {
    filter: url(#filter-front);
    box-shadow: 300px 370px 60px -100px #000000;
    opacity: 0.3;
  }
}

.dusk {
  .cloudBack {
    filter: url(#filter-back);
    box-shadow: 300px 300px 30px -20px #e5987e;
    opacity: 0.5;
  }

  .cloudMid {
    filter: url(#filter-mid);
    box-shadow: 300px 340px 70px -60px #c9667a;
    opacity: 0.5;
  }

  .cloudFront {
    filter: url(#filter-front);
    box-shadow: 300px 370px 60px -100px #403073;
    opacity: 0.8;
  }
}

.dawn {
  .cloudBack {
    filter: url(#filter-back);
    box-shadow: 300px 300px 30px -20px #403073;
    opacity: 0.5;
  }

  .cloudMid {
    filter: url(#filter-mid);
    box-shadow: 300px 340px 70px -60px #c9667a;
    opacity: 0.8;
  }

  .cloudFront {
    filter: url(#filter-front);
    box-shadow: 300px 370px 60px -100px #e5987e;
    opacity: 0.8;
  }
}

.night {
  .cloudBack {
    filter: url(#filter-back);
    box-shadow: 300px 300px 30px -20px #adf4f8;
    opacity: 0.9;
  }

  .cloudMid {
    filter: url(#filter-mid);
    box-shadow: 300px 340px 70px -60px #16465c;
    opacity: 0.8;
  }

  .cloudFront {
    filter: url(#filter-front);
    box-shadow: 300px 370px 60px -100px #000000;
    opacity: 0.8;
  }
}
